{% extends 'base.html.twig' %}

{% block title %}list pizza{% endblock %}

{% block body %}
    {% for pizza in pizzas %}
        <h1> {{ pizza.name}}</h1>
        <h2> {{ pizza.sacretingredient}}</h2>
        <h3> {{ pizza.patte.type}}</h3>
        <h4> {{ pizza.imagename}}</h4>
        {% for ingredient in pizza.ingredients %}
            <h4> {{ ingredient.name}}</h4>
        {% endfor %}
        
        <a href= {{path('app_update',{'id' : pizza.id})}}>Modifier</a>
        <form method="POST" onsubmit="return confirm('Confirmer la suppression?')" action="{{path('app_delete', {'id': pizza.id}) }}">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ pizza.id)}}">
            <input id="delete" type="submit" value="Supprimer">
        </form> 
    {% endfor %}
{% endblock %}
